<div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% data.forEach(function(img, i) { %>
      <% if(i == 0) var active = ' active'; else var active = ''; %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= active %>"></li>
      <% }); %>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-inner">
        <% data.forEach(function(img, i) { %>
        <% if(i == 0) var active = ' active'; else var active = ''; %>
        <div class="carousel-item<%= active %>" style="opacity: 0.8">
          <img class="d-block w-100" src="<%= img.path %>" alt="<%= img.name %>">
          <div class="carousel-caption d-none d-md-block">
            <a class="creator"><button type="button" class="btn btn-primary btn-lg" style="border-color:black;"><div>MAKE A BID</div></button></a>
            <div class="upsell"><%= img.msg %></div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div style="background-color:black">
  </div>
</div>
